/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.container{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.simple {
	color: #272727;
	margin: 32px auto;
	max-width: 610px;
	width: 100%;
}
.center{
    margin: 0 auto;
    text-align: center;
}
.btn-1 {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	padding: 20px 43px;
	background: #E55473;
	border-radius: 8px;
	display: inline-block;
}
h2{
    font-size: 40px;
    color: #272727;
    font-weight: 900;
    text-transform: capitalize;
}
.banner-area{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner-content {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.left-banner {
	max-width: 690px;
	width: 100%;
}
.left-banner h1{
    font-size: 80px;
    font-weight: 900;
    color: #272727;
}
.right-banner img {
	height: 650px;
	width: auto;
}
